@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  /* height: 100vh; */
}
header {
  /* height: 50px;
    width: 1020px; */
  background-color: rgb(21, 44, 21);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
}
.logo h1 {
  color: white;
  font-size: 15px;
  margin-right: 7px;
}
nav ul {
  display: inline-flex;
  list-style: none;
}
li a {
  list-style: none;
  text-decoration: none;
  color: white;
  margin-right: 20px;
}
.mid {
  display: flex;
  font-size: 6px;
  color: white;
}
.mid h1 {
  border: 1px solid white;
  padding: 5px 10px;
}
.end {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 19px;
  font-size: 10px;
}
.fir i {
  margin-left: 15px;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.fir {
  display: block;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.fir p {
  color: white;
  font-size: 13px;
}

/* body */
#sweet {
  height: 600px;
  display: flex;
  background-color: #ffbe30;
}
.sea {
  display: flex;
}
.all {
  margin-left: 60px;
}
.pea {
  margin-top: 70px;
  margin-left: 100px;
  margin-right: 70px;
}
.pea button {
  padding: 5px 30px;
  background-color: white;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: none;
}
.pea h1 {
  font-size: 70px;
  font-weight: 900;
}
.sea img {
  margin-top: 70px;
}
.bea {
  width: 100%;
  margin-left: 100px;
  font-weight: 500;
  margin-top: 20px;
}
.bea button {
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
}

.last img {
  width: 600px;
}

#cat {
  width: 100%;
  height: 150vh;
  width: 70%;
  margin: auto;
  /* background-color: red; */
}
.heeed {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 20px;
}
.heeed h1 {
  font-size: 35px;
  font-weight: 800;
  color: rgb(20, 75, 22);
}
.heeed button {
  background-color: #ffbe30;
  border: none;
  padding: 10px 35px;
  color: rgb(20, 75, 22);
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 700;
}
.cardss {
  display: grid;
  /* width: 71%; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  margin-top: 40px;
  border-radius: 15px;
}
.card {
  position: relative;
  height: 250px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 70px;
  margin-right: 50px;
}
.card img {
  position: absolute;
  width: 330px;
  height: 290px;
  border-radius: 15px;
}
.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 330px;
  height: 290px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity here */
  color: white;
  z-index: 1;
}
.card h1 {
  color: #ffbe30;
  margin-top: 120px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.card p {
  color: white;
  margin-left: 20px;
}

.card-content button {
  background-color: #ffbe30;
  border: none;
  padding: 10px 19px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
}
.catege {
  margin: auto;
}

.fig {
  display: flex;
}
.fig1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  color: rgb(78, 76, 76);
}
.fig1 h1 {
  font-size: 18px;
  margin-right: 4px;
}
.fig1 #me {
  text-decoration: line-through;
}
#noo {
  font-size: 10px;
  margin-top: 28px;
  text-decoration: line-through;
}
.card1 {
  height: 500px;
  width: 400px;
  border: 2px solid black;
  border-radius: 10px;
}
.size {
  margin-right: 18px;
}
.one {
  width: 100px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}
#ben {
  font-size: 18px;
}
#ken {
  font-size: 18px;
}
.twe {
  display: flex;
  border: 1px solid black;
  width: 60px;
  border-radius: 5px;
  letter-spacing: 2px;
}
.ogo h1 {
  font-size: 50px;
}
.gup h5 {
  margin-top: 19px;
  font-size: 14px;
}
.car {
  margin: 10px;
}
.car img {
  width: 240px;
  margin-left: 50px;
  margin-top: 15px;
}
.car h1 {
  margin-top: 20px;
  font-size: 18px;
}
.car h2 {
  font-size: 25px;
}
.label {
  display: flex;
  align-items: center;
}
.size h1 {
  font-size: 14px;
  margin-left: 20px;
}

.twe h6 {
  font-size: 18px;
  margin-right: 10px;
}
.card1 button {
  background-color: #ffbe30;
  border: none;
  padding: 10px 135px;
  border-radius: 5px;
  margin-top: 8px;
}
.pay {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-top: 20px;
}

#blue {
  height: 80vh;
  width: 100%;
  background-color: rgb(11, 22, 11);
}

.spear button {
  background-color: #ffbe30;
  border: none;
  padding: 10px 35px;
  color: rgb(20, 75, 22);
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 700;
}
.tired {
  width: 70%;
  margin: auto;
}
.categ {
  margin-top: 50px;
}
.spear h1 {
  font-size: 35px;
  font-weight: 800;
  color: white;
  margin-top: 20px;
}
.spear {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.heed h1 {
  margin-top: 20px;
}
.card2 {
  height: 500px;
  width: 400px;
  /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 30px;
}
.cari {
  margin: 10px;
}
.cari img {
  width: 240px;
  margin-left: 50px;
  margin-top: 15px;
}
.cari h1 {
  margin-top: 20px;
  font-size: 18px;
  color: white;
}
.cari h2 {
  font-size: 25px;
  color: white;
}
.oned {
  color: white;
  width: 100px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
}
.dup h5 {
  margin-top: 19px;
  font-size: 12px;
  color: white;
  margin-bottom: 5px;
}
.card2 button {
  background-color: #ffbe30;
  border: none;
  padding: 10px 135px;
  border-radius: 5px;
  margin-top: 8px;
}
.vwe h6 {
  font-size: 18px;
  margin-right: 10px;
  color: white;
}
.vwe {
  display: flex;
  border: 1px solid white;
  width: 60px;
  border-radius: 5px;
  letter-spacing: 2px;
}
.payi {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-top: 20px;
}
.teet {
  display: flex;
}
#iii {
  color: #ffbe30;
}
.teet h3 {
  margin-top: 25px;
  margin-right: 35px;
  color: white;
}

/* fourt categories */

#eight {
  width: 100%;
  height: 50vh;
}
.ford {
  width: 80%;
  display: flex;
  margin: auto;
}
.rash {
  position: relative;
  background-color: rgb(238, 10, 48);
  height: 250px;
  width: 370px;
  border-radius: 10px;
  margin-bottom: 70px;
  margin-right: 50px;
  margin-top: 90px;
  margin-left: 20px;
}
.garden {
  position: relative;
  display: flex;
}
.garden h1 {
  margin-left: 20px;
  margin-top: 90px;
  color: rgb(54, 48, 48);
}
.garden img {
  position: absolute;
  top: -80px;
  left: 76%;
  transform: translateX(-50%);
  z-index: 1;
}
.garden p {
  position: absolute;
  margin-top: 120px;
  left: 20px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(54, 48, 48);
}
.garden .rate {
  position: absolute;
  margin-top: 150px;
  left: 20px;
}
.kkk {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 170px;
  left: 20px;
  font-size: 20px;
  font-weight: 700;
}
.kkk h3 {
  color: rgb(54, 48, 48);
  margin-right: 10px;
}
#we3 {
  margin-top: 5px;
  font-size: 16px;
}
.garden button {
  background-color: #ffbe30;
  border: 1px solid black;
  height: 35px;
  width: 170px;
  border-radius: 5px;
  margin-top: 8px;
  color: white;
  font-weight: 700;
  position: absolute;
  margin-top: 200px;
  left: 20px;
}
.spar h1 {
  font-size: 35px;
  font-weight: 800;
  color: black;
  margin-top: 20px;
}
.spar {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 27px;
}
.cate {
  width: 70%;
  margin: auto;
}
.spar button {
  background-color: #ffbe30;
  border: none;
  padding: 10px 35px;
  color: rgb(20, 75, 22);
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 700;
}
#hew {
  height: 600px;
  width: 100%;
  display: flex;
  margin: auto;
  /* justify-content: space-between; */
  /* background-color: gray; */
  /* grid-template-columns: 1fr 1fr; */
}
.mat {
  height: 600px;
  width: 100%;
  margin-left: 10px;
  position: relative;
  /* background-size: cover; */
  /* background-image: url(./image/image\ 11.png); */
}
.mat img {
  position: absolute;
  width: 100%;
  height: 600px;
  /* border-radius: 15px; */
}
.mat-contain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity here */
  color: white;
  z-index: 1;
}
.mat-contain h1 {
  margin-left: 80px;
  margin-top: 300px;
  font-size: 50px;
  font-weight: 700;
}
.mat-contain p {
  margin-left: 80px;
  font-size: 20px;
}
.mat-contain button {
  background-color: #ffbe30;
  border: none;
  padding: 10px 35px;
  color: rgb(20, 75, 22);
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 80px;
  font-weight: 700;
}
.bat {
  height: 600px;
  width: 98%;
  position: relative;
  /* background-image: url(./image/image\ 11.png); */
}
.bat img {
  position: absolute;
  width: 98%;
  height: 600px;
  /* border-radius: 15px; */
}
.bat-contain {
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 600px;
  /* border-radius: 15px; */
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity here */
  color: white;
  z-index: 1;
}

#testi {
  display: flex;
  width: 70%;
  margin: auto;
}

.testimonial h1 {
  font-weight: 800;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.testimonial p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
}
.testimonial button {
  background-color: #ffbe30;
  border: none;
  padding: 10px 35px;
  color: rgb(20, 75, 22);
  border-radius: 5px;
  font-weight: 700;
}

.baba {
  display: flex;
}
.service {
  width: 260px;
  border: 2px solid black;
  margin-top: 50px;
  border-radius: 5px;
  margin-left: 20px;
}
.service .rate {
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.service h4 {
  margin-left: 10px;
  margin-bottom: 5px;
}
.service p {
  margin-left: 10px;
  margin-bottom: 5px;
}
.mage {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}
.mage img {
  border-radius: 50%;
  margin-right: 10px;
}
.uuu {
  font-weight: 700;
}

.blog {
  width: 70%;
  margin: auto;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  /* margin-left: 800px;*/
  margin-top: 60px;
}
.blog h1 {
  font-weight: 700;
  margin-bottom: 20px;
}
.blog p {
  font-size: 18px;
  margin-bottom: 280px;
}
footer {
  height: 700px;
  width: 100%;
  margin-top: 90px;
  background-color: rgb(4, 41, 6);
}

.pef {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  /* margin-bottom: 10px; */
}
.pef > .conto {
  height: 500px;
  width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  position: relative;
  top: -210px;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: -90px;
}
.conto img {
  width: 350px;
  border-radius: 10px;
}
.conto .txt {
  margin-left: 15px;
}
.conto .txt h1 {
  margin-top: 10px;
  font-size: 25px;
  margin-bottom: 10px;
}
.conto .txt p {
  font-size: 15px;
  margin-bottom: 15px;
}
.txt button {
  background-color: #ffbe30;
  border: none;
  padding: 10px 35px;
  color: rgb(20, 75, 22);
  border-radius: 5px;
  font-weight: 800;
}
.imaaga img {
  position: absolute;
  border-radius: 15px;
}
.imaaga .ttytt {
  position: relative;
  top: 0;
  left: 60;
  width: 350px;
  height: 262px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity here */
  color: black;
  z-index: 1;
}
.ttytt h1 {
  position: absolute;
  font-size: 16px;
  text-align: center;
  font-weight: 800;
  height: 25px;
  width: 60px;
  border-radius: 10px;
  background-color: #ffbe30;
  margin-top: 20px;
  margin-left: 20px;
}
.doww {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.doo {
  margin-right: 35px;
}
.doo > p {
  margin-right: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #ffbe30;
  margin-bottom: 25px;
}
.doo > h2 {
  font-size: 15px;
  font-weight: 500;
  color: white;
}
.dii {
  margin-right: 30px;
}
.dii > p {
  margin-right: 20px;
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-bottom: 25px;
}
.dii > nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.dii > nav > ul > li {
  color: white;
  margin-bottom: 15px;
}

.dui {
  margin-right: 30px;
}
.dui > p {
  margin-right: 20px;
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-bottom: 25px;
}
.dui > nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.dui > nav > ul > li {
  color: white;
  margin-bottom: 15px;
}

.nwww > h1 {
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-bottom: 25px;
}
.nwww > p {
  font-size: 15px;
  font-weight: 500;
  color: white;
  margin-bottom: 25px;
}
label {
  position: relative;
  display: flex;
}
input[type="email"] {
  width: 250px;
  height: 50px;
  padding: 0 16px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  margin-right: 10px;
}
label > button {
  background-color: #ffbe30;
  width: 20px;
  height: 50px;
  border: none;
  padding: 0 16px;
  color: rgb(20, 75, 22);
  border-radius: 5px;
  font-weight: 800;
  align-items: center;
  justify-self: center;
  /* position: absolute; */
  top: 0;
  right: 0;
}
.lasd {
  width: 70%;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 10px;
  color: white;
  font-size: 18px;
}
.dcba span{
  color: #ffbe30;
}